---
// フッターとJavaScript読み込みの統合コンポーネント
---

<!-- フッター -->
<footer class="footer">
  <!-- スタッフ情報 -->
  <div class="footer_staff">
    <p class="footer_staff_title">STAFF</p>
    <div class="footer_staff_content">
      <p>撮影／倉本侑磨(Pygmy Company)〈人物〉／魚地武大（TENT）〈静物〉</p>
      <p>モデル／山本美月　ヘア・メーク／森野友香子（Perle Management）</p>
      <p>スタイリスト／荒木里実　取材／西道倫子</p>
      <p>デザイン／mambo西岡、横田実奈（ともにma-h gra）</p>
    </div>
    <p class="footer_staff_note">※クレジットのない小物はすべて私物です。お問い合わせはご遠慮ください。</p>
  </div>

  <!-- SNSアイコン -->
  <div class="footer_social">
    <a href="#" class="footer_social_icon footer_social_icon--store" aria-label="Online Store">
      <img src="./img/icon-store.png" alt="online store">
    </a>
    <a href="#" class="footer_social_icon footer_social_icon--instagram" aria-label="Instagram">
      <img src="./img/icon-instagram.png" alt="Instagram">
    </a>
    <a href="#" class="footer_social_icon footer_social_icon--line" aria-label="LINE">
      <img src="./img/icon-line.png" alt="LINE">
    </a>
  </div>

  <!-- コピーライト -->
  <div class="footer_copyright">
    <div class="footer_copyright_logo">
      <img src="./img/footer_logo.svg" alt="UNFILO アンフィーロ">
    </div>
    <p class="footer_copyright_text">COPYRIGHT (C) ONWARD GROUP. ALL RIGHT RESERVED.</p>
  </div>
</footer>

<!-- JavaScriptの読み込み（従来のjQuery版を使用） -->
<script is:inline src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script is:inline defer src="./js/functions.js"></script>
