---
// 固定ナビゲーションのコンポーネント
---

<!-- 固定ナビゲーション -->
<div class="fixedNav">
  <div class="pagetop_btn">
    <a href="">
      <picture>
        <img src="./img/btn_pagetop.png" alt="">
      </picture>
    </a>
  </div>
</div>
