---
// フッターとJavaScript読み込みの統合コンポーネント
---

<!-- フッター -->
<footer class="footer">
  <!-- リンク・バナーエリア -->
  <div class="footer_links">
    <a href="https://crosset.onward.co.jp/items?du=2&b=b523&mc=523002&mc=523003&mc=523498&mc=523499&mc=523500&mc=523501&mz=1&qy=project1_26ss&img=120" class="footer_linkBtn" target="_blank" rel="noopener noreferrer">
      <img class="footer_linkBtnIcon" src="./img/icon_allitemsArw.svg" alt="">
      <span class="footer_linkBtnText">掲載アイテム一覧はこちら</span>
    </a>
    <div class="footer_bannerArea">
      banner
    </div>
  </div>
  <!-- スタッフ情報 -->
  <div class="footer_staff">
    <p class="footer_staffTitle">STAFF</p>
    <div class="footer_staffContent">
      <p>撮影／倉本侑磨(Pygmy Company)〈人物〉／魚地武大（TENT）〈静物〉</p>
      <p>モデル／山本美月　ヘア・メーク／森野友香子（Perle Management）</p>
      <p>スタイリスト／荒木里実　取材／西道倫子</p>
      <p>デザイン／mambo西岡、横田実奈（ともにma-h gra）</p>
    </div>
    <p class="footer_staffNote">※クレジットのない小物はすべて私物です。お問い合わせはご遠慮ください。</p>
  </div>

  <!-- SNSアイコン -->
  <div class="footer_social">
    <a href="#" class="footer_socialIcon iconStore">
      <img src="./img/icon-store.png" alt="online store">
    </a>
    <a href="#" class="footer_socialIcon iconInstagram">
      <img src="./img/icon-instagram.png" alt="Instagram">
    </a>
    <a href="#" class="footer_socialIcon iconLine">
      <img src="./img/icon-line.png" alt="LINE">
    </a>
  </div>

  <!-- コピーライト -->
  <div class="footer_copyright">
    <div class="footer_copyrightLogo">
      <img src="./img/footer_logo.png" alt="UNFILO アンフィーロ">
    </div>
    <p class="footer_copyrightText">COPYRIGHT (C) ONWARD GROUP. ALL RIGHT RESERVED.</p>
  </div>
</footer>

<!-- JavaScriptの読み込み（従来のjQuery版を使用） -->
<script is:inline src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<!-- Swiper JS -->
<script is:inline src="./js/swiper-bundle.min.js"></script>
<!-- GSAP -->
<script is:inline src="./js/gsap.min.js"></script>
<script is:inline src="./js/ScrollTrigger.min.js"></script>
<script is:inline defer src="./js/functions.js"></script>
