---
import Item from './parts/Item.astro';
---

<!-- Key Visual Section -->
<div class="kv">
  <h1>
    <picture>
      <source media="(min-width: 768px)" srcset="./img/kv_pc.jpg">
      <img src="./img/kv_sp.jpg" alt="">
    </picture>
  </h1>
</div>

<!-- Introduction Section -->
<div class="intro">
  <h2 class="title">
  </h2>
  <p class="catch"></p>
  <img src="./img/ttl_main.png" alt="">
  <div class="text">
    <p>復職、子どもの進級etc.新生活が始まる春<br class="only-pc">
    アンフィーロにお任せ！</p>
    <p></p>
  </div>

  <!-- 商品ラインナップ -->
  <div class="item">
    <div class="item_main">
      <p class="item_label">▼ 表紙着用商品</p>
      <div class="item_list">
        <Item themeId={1} />
      </div>
    </div>
  </div>
</div>
