---
// セクションコンポーネント
import Item from './parts/Item.astro';
import ImageSlider from './ImageSlider.astro';
---

<!-- セクション1 -->
<section class="section" id="jogPants">
  <div class="section_inner">
    <!-- タイトルエリア -->
    <div class="section_title">
      <img src="./img/section01_title.png" alt="累計10万本！「最愛ジョグパン」がさらにさらに進化中">
      <p class="section_lead">
        UNFILOから生まれた大ヒット名品が<br>
        より美しく、より快適に、さらに頼れる一本へと<br>
        生地もディテールもブラッシュアップ！<br>
        この春もシーンレスで活躍の予感です。
      </p>
    </div>
    <!-- 画像エリア -->
    <ImageSlider />

    <!-- カラーバリエーション -->
    <div class="section_colorVariation">
      <p class="label">COLOR VARIATION</p>
      <ul class="swatches">
        <li class="swatch" style="background-color: #2b3344;"></li>
        <li class="swatch" style="background-color: #aeabb6;"></li>
        <li class="swatch" style="background-color: #2b2223;"></li>
      </ul>
    </div>

    <!-- Pointセクション -->
    <div class="section_pointList">
      <div class="point">
        <div class="point_image"></div>
        <div class="point_content">
          <p class="point_label">Point</p>
          <p class="point_text">センタープレスに樹脂加工を施すことで、より落ちにくく。縦ラインをしっかり強調してくれます。</p>
        </div>
      </div>
      <div class="point">
        <div class="point_image"></div>
        <div class="point_content">
          <p class="point_label">Point</p>
          <p class="point_text">肌に触れる側の糸を見直すこで、吸水速乾性がグッとUP。お手入れしやすくなり、汗ばむ季節でも快適です。</p>
        </div>
      </div>
    </div>

    <!-- 商品リスト -->
    <div class="section_items">
      <Item themeId={1} productNames={["Knit", "Camisole", "Denim", "Pants"]} />
    </div>
  </div>
</section>
