---
// セクションコンポーネント
import Item from './parts/Item.astro';
---

<!-- セクション -->
<section class="section section01" id="theme1">
  <div class="section_inner">
		<div class="section_head">
			<p class="catch"><span>可愛さ・コスパ機能性を総取り!</span></p>
			<h2 class="title">
				<img src="./img/img_theme01_anchor.png" alt="!">
			</h2>
			<p class="lead">
					機能面にはさらなる磨きを、そしてトレンド感も網羅する新作から、<br>
					忙しい私たちがすぐ取り入れるべきニュースをピックアップします。
			</p>
		</div>
  </div>
	</div>
</section>
