* {
	box-sizing: border-box;
	&::before,
	&::after {
		box-sizing: border-box;
	}
}

a {
	color: inherit;
	text-decoration: none;
}

ul,
ol {
	list-style: none;
}

img,
video {
	max-width: 100%;
	height: auto;
}

sup {
	vertical-align: super;
	font-size: 0.75em;
}

input,
select,
textarea,
button {
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	background: none;
	border: none;
	border-radius: 0;
	padding: 0;
	outline: none;
	color: inherit;
	font-family: inherit;
}
input::-ms-expand,
select::-ms-expand,
textarea::-ms-expand,
button::-ms-expand {
	display: none;
}
button {
	display: block;
	cursor: pointer;
}

input,
textarea,
select {
	width: 100%;
	border: 1px solid #ccc;
	background: none;
}

html {
	font-size: p2v(16);
	@media screen and (min-width: 768px) {
		font-size: min(calc(16 / 1200 * 100vw), 16px);
	}
	@media screen and (min-width: 1200px) {
		font-size: 16px;
	}
}
body {
	color: #333;
	font-family: "yakuhanjp", "Noto Sans JP", "Helvetica Neue", Helvetica, Arial, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "Meiryo UI", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	font-display: swap;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	letter-spacing: 0.04em;
}
.only-pc {
	display: none;
}
@media screen and (min-width: 768px) {
	.only-sp {
		display: none;
	}
	.only-pc {
		display: block;
	}
}

.dib {
	display: inline-block;
}
