@use "setting" as *;
* {
	box-sizing: border-box;
	&::before,
	&::after {
		box-sizing: border-box;
	}
}

a {
	color: inherit;
	text-decoration: none;
}

ul,
ol {
	list-style: none;
}

img,
video {
	max-width: 100%;
	height: auto;
}

sup {
	vertical-align: super;
	font-size: 0.75em;
}

input,
select,
textarea,
button {
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	background: none;
	border: none;
	border-radius: 0;
	padding: 0;
	outline: none;
	color: inherit;
	font-family: inherit;
}
input::-ms-expand,
select::-ms-expand,
textarea::-ms-expand,
button::-ms-expand {
	display: none;
}
button {
	display: block;
	cursor: pointer;
}

input,
textarea,
select {
	width: 100%;
	border: 1px solid #ccc;
	background: none;
}

body {
	color: #333;
	font-family: "yakuhanjp", "Noto Sans JP", "Helvetica Neue", Helvetica, Arial, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "Meiryo UI", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	font-display: swap;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	letter-spacing: 0.04em;
}
.wrapper {
	max-width: 1278px;
	margin: 0 auto;
	overflow: clip;
}
main {
	position: relative;
	margin: auto;
	@media screen and (min-width: $breakpoint) {
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		width: 50.2564102564%;
		max-width: 640px;
		margin-right: 0;
		border-left: 1px solid #ccc;
		border-right: 1px solid #ccc;
	}
}
.only-pc {
	display: none;
}
@media screen and (min-width: $breakpoint) {
	.only-sp {
		display: none;
	}
	.only-pc {
		display: block;
	}
}

.dib {
	display: inline-block;
}

// ScrollTrigger Fade Up Animation
.is-fadeup {
	opacity: 0;
	transform: translateY(20px);
	transition:
		opacity 0.6s ease-out,
		transform 0.6s ease-out;

	&.is-show {
		opacity: 1;
		transform: translateY(0);
	}
}
