// ==========================================
// Variables
// ==========================================

// プロジェクトID（スコープ用）
// ※変更時は project-config.js の PROJECTS.project1.id も同期すること
$project-id: "#unfilo2026SS";

// ブレイクポイント・パス
$breakpoint: 768px;
$assetsPath: "../";

// フォント
$serif: "yakuhanjp", "Noto Serif JP", serif;
$Akshar: "Akshar", sans-serif;
$Montserrat: "Montserrat", sans-serif;

// カラー
$pink: #f3629a;
$orange: #f68460;
$bgPink: #fff6f9;
$accentC: #f37c9d;

$inner: 6.6666666667%;

// ==========================================
// Functions
// ==========================================

//pxをvwに変換（スマホ用）
@function vw($px) {
	@return ($px / 375 * 100vw);
}

//pxをemに変換
@function em($size, $parent: 16) {
	@return ($size / $parent * 1em);
}

//pxをremに変換
@function rem($size) {
	@return ($size / 16 * 1rem);
}

//パーセント計算
@function per($c, $p: 375) {
	@return ($c / $p * 100%);
}

//最小値セット
@function minset($r, $s: $r) {
	@return min(#{vw($r)}, #{($s * 1px)});
}
@function maxset($r, $s: $r) {
	@return max(#{vw($r)}, #{($s * 1px)});
}
@function clp($n, $x: $n) {
	@return clamp(($n * 1px), ($n/375 * 100vw), ($x * 1px));
}
