@charset "UTF-8";
/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input,
select {
  vertical-align: middle;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

ul,
ol {
  list-style: none;
}

img,
video {
  max-width: 100%;
  height: auto;
}

sup {
  vertical-align: super;
  font-size: 0.75em;
}

input,
select,
textarea,
button {
  -moz-appearance: none;
  -webkit-appearance: none;
  background: none;
  border: none;
  border-radius: 0;
  padding: 0;
  outline: none;
  color: inherit;
  font-family: inherit;
}

input::-ms-expand,
select::-ms-expand,
textarea::-ms-expand,
button::-ms-expand {
  display: none;
}

button {
  display: block;
  cursor: pointer;
}

input,
textarea,
select {
  width: 100%;
  border: 1px solid #ccc;
  background: none;
}

html {
  font-size: p2v(16);
}
@media screen and (min-width: 768px) {
  html {
    font-size: min(1.3333333333vw, 16px);
  }
}
@media screen and (min-width: 1200px) {
  html {
    font-size: 16px;
  }
}

body {
  color: #333;
  font-family:
    "yakuhanjp", "Noto Sans JP", "Helvetica Neue", Helvetica, Arial,
    "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "Meiryo UI", "メイリオ",
    Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  font-display: swap;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.only-pc {
  display: none;
}

@media screen and (min-width: 768px) {
  .only-sp {
    display: none;
  }
  .only-pc {
    display: block;
  }
}
.dib {
  display: inline-block;
}

.fadeInBlock {
  opacity: 0;
  -webkit-transition: 0.8s;
  transition: 0.8s;
}
.fadeInBlock.is-fadeIn {
  opacity: 1;
}

.credits {
  font-size: min(3.2vw, 12px);
  line-height: 2.3333333333;
  text-align: center;
}
.credits p + p {
  margin-top: 2.25em;
}

.linkArea {
  max-width: 1000px;
  margin: 0 auto;
  margin-top: min(21.3333333333vw, 100px);
  padding-top: min(21.3333333333vw, 100px);
  padding-bottom: min(16vw, 100px);
  border-top: 1px solid #ccc;
}

.allItemBtn {
  width: 86.6666666667vw;
  max-width: 600px;
  margin: 0 auto;
}
.allItemBtn + .allItemBtn {
  margin-top: min(8vw, 30px);
}
.allItemBtn a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: 5.7142857143em;
  border: 1px solid currentColor;
  background-color: #fff;
  color: #333;
  font-size: 0.875rem;
  text-align: center;
}
.allItemBtn a::after {
  display: block;
  position: absolute;
  right: 1em;
  top: 50%;
  width: 0.4285714286em;
  height: 0.8571428571em;
  margin-left: 1em;
  background-image: url(../img/arrow.png);
  background-repeat: no-repeat;
  background-size: contain;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  content: "";
}
.allItemBtn a img {
  height: 1.7857142857em;
}

.footer {
  padding: 50px 0 70px;
  background-color: #333;
  color: #fff;
}
.footerLogo {
  text-align: center;
}
.footerLogo img {
  width: 32vw;
  max-width: 150px;
}
.footer .copyright {
  margin-top: 50px;
  font-size: 0.625rem;
  text-align: center;
  letter-spacing: 0.08em;
}

@media screen and (min-width: 768px) {
  .allItemBtn {
    width: 173.3333333333vw;
    max-width: 600px;
    margin: 0 auto;
  }
  .allItemBtn a {
    height: 100px;
    font-size: 1.25rem;
    padding-left: 2em;
  }
  .allItemBtn a::after {
    width: 13px;
    height: 18px;
    margin-left: 2em;
  }
  .comingsoonBnr {
    margin-top: 50px;
    text-align: center;
  }
  .comingsoonBnr img {
    width: 600px;
  }
  .instagramLink {
    margin-top: 80px;
  }
  .footer {
    padding: 80px 0;
  }
  .footer .copyright {
    font-size: 0.75rem;
  }
}
.has-imageInSide {
  position: relative;
  overflow: hidden;
}
.has-imageInSide::after {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  background-color: #f5f0e8;
  -webkit-transition-timing-function: cubic-bezier(0.56, 0.14, 0.91, 0.56);
  transition-timing-function: cubic-bezier(0.56, 0.14, 0.91, 0.56);
  content: "";
}
.has-imageInSide img {
  -webkit-filter: blur(5px);
  filter: blur(5px);
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-transition-delay: 0.3s;
  transition-delay: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.has-imageInSide.is-show::after {
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
}
.has-imageInSide.is-show img {
  -webkit-filter: blur(0);
  filter: blur(0);
}

.has-imageInFade {
  opacity: 0;
  -webkit-transform: translateY(15px);
  transform: translateY(15px);
  -webkit-transition: 1.2s;
  transition: 1.2s;
}
.has-imageInFade.is-show {
  opacity: 1;
  -webkit-transform: translateY(0);
  transform: translateY(0);
}

.has-imageInScale {
  overflow: hidden;
}
.has-imageInScale img {
  opacity: 0;
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  -webkit-transition: 1.2s;
  transition: 1.2s;
}
.has-imageInScale.is-show img {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}

.kv {
  position: relative;
  line-height: 0;
  overflow: hidden;
}
.kv .logo {
  position: absolute;
  left: min(6.6666666667vw, 50px);
  top: min(6.6666666667vw, 50px);
  width: min(24vw, 280px);
  z-index: 10;
}
.kv picture img {
  width: 100%;
  max-width: inherit;
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  opacity: 0;
  -webkit-animation: imageIn 1.8s 0.2s ease-out forwards;
  animation: imageIn 1.8s 0.2s ease-out forwards;
}

@-webkit-keyframes imageIn {
  0% {
    opacity: 0;
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes imageIn {
  0% {
    opacity: 0;
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
.intro {
  position: relative;
  z-index: 2;
  width: 86.6666666667vw;
  max-width: 1000px;
  margin: min(-16vw, -60px) auto min(21.3333333333vw, 110px);
}
@media screen and (min-width: 768px) {
  .intro {
    margin-top: -115px;
  }
}
.intro_title {
  margin-bottom: min(6.6666666667vw, 45px);
  text-align: center;
}
.intro_titleText {
  display: block;
  font-size: min(3.7333333333vw, 18px);
  font-weight: 500;
  line-height: 1.8333333333;
  color: #f3629a;
}
.intro_titleText .intro_titleTextSp {
  display: inline-block;
  background: #fff;
  border: 1px solid #f3629a;
  padding: 0 0.65em;
}
.intro_titleText .intro_titleTextSp:first-child {
  margin-bottom: 5px;
}
@media screen and (min-width: 768px) {
  .intro_titleText {
    display: inline-block;
    background: #fff;
    border: 1px solid #f3629a;
    padding: 0 0.65em 0.1em;
  }
  .intro_titleText .intro_titleTextSp {
    border: none;
    background: none;
    padding: 0;
  }
  .intro_titleText .intro_titleTextSp:first-child {
    margin-bottom: 0;
  }
}
.intro_titleCatch {
  display: block;
  margin-top: min(3.7333333333vw, 25px);
}
.intro_titleCatch img {
  width: 100%;
  max-width: 766px;
}
.intro_text {
  padding: 0 8%;
  font-size: min(3.7333333333vw, 18px);
  margin-bottom: min(16vw, 80px);
  line-height: 2.1428571429;
  text-align: center;
}
.intro_text p + p {
  margin-top: 2em;
}
.intro .info_block_lineup {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.anchor {
  margin: 2em 0 0;
}
.anchor_title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-bottom: min(5.3333333333vw, 30px);
  text-align: center;
}
.anchor_title span {
  width: 9.0666666667vw;
  max-width: 60px;
  margin: auto;
}
.anchor_title > img,
.anchor_title > picture {
  margin: auto;
}
@media screen and (min-width: 768px) {
  .anchor_title {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 20px;
  }
  .anchor_title span {
    margin: 0;
  }
  .anchor_title > img,
  .anchor_title > picture {
    margin: 0;
  }
}
.anchor_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 86.6666666667vw;
  gap: 3.2vw;
  margin: 0 auto;
}
.anchor_list li {
  width: 26.4vw;
  max-width: 156px;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  opacity: 0;
}
.anchor_list li.is-show {
  -webkit-animation: fadeInLeft 0.5s forwards;
  animation: fadeInLeft 0.5s forwards;
}
.anchor_list li.is-show:nth-child(1) {
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
}
.anchor_list li.is-show:nth-child(2) {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}
.anchor_list li.is-show:nth-child(3) {
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s;
}
.anchor_list li.is-show:nth-child(4) {
  -webkit-animation-delay: 0.6s;
  animation-delay: 0.6s;
}
.anchor_list li.is-show:nth-child(5) {
  -webkit-animation-delay: 0.8s;
  animation-delay: 0.8s;
}
.anchor_list li.is-show:nth-child(6) {
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
}
.anchor .anchorBtn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  height: 100%;
  position: relative;
  padding-bottom: min(4vw, 15px);
}
.anchor .anchorBtn_image {
  line-height: 0;
  text-align: center;
}
.anchor .anchorBtn_content {
  padding-top: 6px;
  text-align: center;
}
.anchor .anchorBtn_catch {
  display: inline-block;
  font-size: min(3.2vw, 16px);
  font-family: "yakuhanjp", "Noto Serif JP", serif;
  line-height: 1.875;
}

.anchor_category {
  text-align: center;
}
.anchor_category img {
  width: 32vw;
  max-width: 126px;
  margin: auto;
}

.anchor01 .anchor_title > img {
  width: 57.0666666667vw;
  max-width: 268px;
}
.anchor01 .anchorBtn_catch {
  color: #f3629a;
}

.anchor02 {
  margin-bottom: min(10.6666666667vw, 70px);
}
.anchor02 .anchor_title span {
  margin-bottom: min(2.6666666667vw, 10px);
}
.anchor02 .anchor_title > picture {
  width: 54.9333333333vw;
}
@media screen and (min-width: 768px) {
  .anchor02 .anchor_title span {
    margin-bottom: 0;
  }
  .anchor02 .anchor_title > picture {
    width: min(128vw, 480px);
  }
}
.anchor02 .anchorBtn_catch {
  color: #f68460;
}

@media screen and (min-width: 768px) {
  .anchor_list {
    gap: 12px;
  }
  .anchor_list li {
    width: calc((100% - 60px) / 6);
  }
  .anchor .anchorBtn_catch {
    position: relative;
  }
  .anchor .anchorBtn_catch::after {
    display: block;
    position: absolute;
    left: 0;
    bottom: -0.75em;
    width: 100%;
    height: 3px;
    background-color: #f3629a;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: left bottom;
    transform-origin: left bottom;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    content: "";
  }
}
@media screen and (min-width: 768px) and (hover) {
  .anchor .anchorBtn:hover .anchorBtn_catch::after {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
}
@media screen and (min-width: 768px) {
  .anchor.anchor02 .anchorBtn .anchorBtn_catch::after {
    background: #f68460;
  }
}
@-webkit-keyframes fadeInLeft {
  0% {
    -webkit-transform: translateX(-10px);
    transform: translateX(-10px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes fadeInLeft {
  0% {
    -webkit-transform: translateX(-10px);
    transform: translateX(-10px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
.section {
  padding: min(21.3333333333vw, 120px) 0;
}
.section_catch {
  text-align: center;
  margin: 1.5em 0 0.75em;
}
.section_catch span {
  display: inline-block;
  position: relative;
  font-size: min(3.7333333333vw, 20px);
  font-weight: bold;
  padding: 5px 0.75em;
}
.section_catch span::before,
.section_catch span::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  width: 2px;
  height: 1.5em;
  background: #333;
}
.section_catch span::before {
  left: 0;
  -webkit-transform: rotate(-25deg);
  transform: rotate(-25deg);
}
.section_catch span::after {
  right: 0;
  -webkit-transform: rotate(25deg);
  transform: rotate(25deg);
}
.section_inner {
  position: relative;
  width: 86.6666666667vw;
  max-width: 1000px;
  margin: auto;
}
.section_head {
  padding-bottom: min(8vw, 40px);
  text-align: center;
}
.section_head .catch {
  margin-bottom: min(5.3333333333vw, 35px);
}
.section_head .title img {
  width: min(86.6666666667vw, 650px);
}
.section_head .lead {
  margin: min(5.3333333333vw, 40px) auto min(5.3333333333vw, 40px);
  font-size: min(3.7333333333vw, 16px);
  line-height: 1.9230769231;
  text-align: center;
  letter-spacing: 0.08em;
}
.section_head .lead br {
  display: none;
}
@media screen and (min-width: 768px) {
  .section_head .lead {
    margin-bottom: 0;
  }
  .section_head .lead br {
    display: block;
  }
}
.section_itemInfo + .section_itemInfo {
  margin-top: min(21.3333333333vw, 120px);
}
.section_itemInfo_title {
  margin-bottom: min(10.6666666667vw, 80px);
  text-align: center;
}
.section_itemInfo_title_en {
  display: block;
}
.section_itemInfo_title_en img {
  width: auto;
  height: min(9.0666666667vw, 58px);
}
.section_itemInfo_title_jp {
  display: block;
  font-size: min(3.7333333333vw, 24px);
  line-height: 1.5;
  letter-spacing: 0.05em;
}
.section_itemInfo_title_jp strong {
  display: inline-block;
  margin-right: 0.1em;
  background-image: radial-gradient(8px 3px, #f3629a 70%, #fff 70%);
  background-repeat: repeat-x;
  background-position: left bottom;
  background-size: 0.5em 3px;
  color: #f3629a;
  font-size: 1.2857142857em;
}
.section.section01 {
  background-color: #fff6f9;
}
.section.section01 .has-imageInSide::after {
  background-color: #fff6f9;
}
.section.section01 .section_topicBlock {
  position: relative;
  width: 86.6666666667vw;
  max-width: 1000px;
  margin: auto;
  padding-top: min(21.3333333333vw, 150px);
  text-align: center;
}
.section.section01 .section_topicBlock:not(.section_topicBlock01) {
  margin-top: min(21.3333333333vw, 120px);
}
.section.section01 .section_topicBlock::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  margin: auto;
  width: 86.6666666667vw;
  max-width: 900px;
  aspect-ratio: 1800/504;
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 100% auto;
}
.section.section01 .section_topicBlock.section_topicBlock01::before {
  background-image: url("../img/ttl_topics01.png");
}
.section.section01 .section_topicBlock.section_topicBlock02::before {
  background-image: url("../img/ttl_topics02.png");
}
.section.section01 .section_topicBlock.section_topicBlock03::before {
  background-image: url("../img/ttl_topics03.png");
}
.section.section01 .section_topicBlockText {
  margin-bottom: min(4vw, 36px);
}
.section.section01 .section_topicBlockText span {
  display: inline-block;
  position: relative;
  padding: 0.5em 1em;
  border-radius: 5rem;
  color: #fff;
  font-size: min(3.2vw, 18px);
  background-color: #f3629a;
  line-height: 1;
}
.section.section01 .section_topicBlockText span::after {
  display: block;
  position: absolute;
  left: 50%;
  top: 90%;
  width: 3px;
  height: 80%;
  background-color: inherit;
  -webkit-transform: translateX(-50%) rotate(45deg);
  transform: translateX(-50%) rotate(45deg);
  -webkit-transform-origin: center top;
  transform-origin: center top;
  content: "";
}
.section.section01 .section_topicBlockTitle {
  font-size: min(6.4vw, 36px);
  font-weight: bold;
  color: #f3629a;
  line-height: 1.4583333333;
}
.section.section01 .section_topicBlockTitle .thin {
  font-weight: 200;
}
.section.section01 .section_topicBlockLead {
  margin: min(5.3333333333vw, 40px) auto min(10.6666666667vw, 100px);
  font-size: min(3.7333333333vw, 16px);
  line-height: 1.9230769231;
  text-align: center;
  letter-spacing: 0.08em;
}
.section.section01 .section_topicBlockLead br {
  display: none;
}
@media screen and (min-width: 768px) {
  .section.section01 .section_topicBlockLead br {
    display: block;
  }
}
.section.section01 .infoArea_catch {
  color: #f3629a;
}
.section.section02 {
  background: #f5f0e8;
}
.section.section02 .infoArea_catch {
  color: #f68460;
}
.section.section05 .section_head .ribbon {
  margin-bottom: min(3.2vw, 40px);
  line-height: 0;
}
.section.section05 .section_head .ribbon img {
  width: min(52.8vw, 400px);
}
.section.section05 .section_head .catch {
  margin-bottom: 0.5em;
  font-size: min(3.7333333333vw, 32px);
  font-weight: bold;
}
.section.section05 .section_head .title {
  font-size: min(6.1333333333vw, 44px);
  line-height: 1.6086956522;
}
.section.section05 .section_head .title strong {
  color: #f3629a;
}
.section.section05 .has-imageInSide::after {
  background-color: #fff;
}

.infoArea {
  width: 86.6666666667vw;
  margin: 0 auto;
}
.infoArea + .infoArea {
  margin-top: min(21.3333333333vw, 80px);
}
.infoArea:nth-child(even) .has-imageInSide.is-show::after {
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
}
.infoArea_image {
  position: relative;
  overflow: hidden;
}
.infoArea_content {
  margin-top: min(8vw, 30px);
}
.infoArea_catch {
  font-size: 1.5rem;
  font-family: "yakuhanjp", "Noto Serif JP", serif;
  font-weight: normal;
  line-height: 1.6666666667;
  letter-spacing: -0.03em;
}
.infoArea_catch strong {
  color: #f3629a;
  font-weight: inherit;
}
.infoArea_itemName {
  margin-bottom: min(5.3333333333vw, 30px);
  font-family: "yakuhanjp", "Noto Serif JP", serif;
  line-height: 1;
}
.infoArea_itemName_sub {
  display: block;
  margin-bottom: 0.5em;
  font-size: min(4.2666666667vw, 20px);
}
.infoArea_itemName_main {
  display: inline-block;
  padding: 0.25em 0.5em;
  background-color: #f68460;
  color: #fff;
  font-size: min(4.8vw, 22px);
}
.infoArea_icons {
  margin-top: min(5.3333333333vw, 30px);
}
.infoArea_icons img {
  width: auto;
  height: min(23.2vw, 93px);
}
.infoAreaLead {
  margin-bottom: 0.5em;
  font-size: 1.125rem;
  line-height: 1.7777777778;
}
.infoAreaLead + .infoArea_text {
  margin-top: 0;
}
.infoAreaText {
  margin-top: 1em;
  font-size: min(3.7333333333vw, 16px);
  line-height: 2.1428571429;
}
.infoArea_notes {
  margin-top: 1em;
  font-size: 0.75rem;
}
.infoArea_subImage {
  margin-top: min(9.3333333333vw, 20px);
  text-align: center;
}
.infoArea_subImage img {
  width: min(64vw, 300px);
}
.infoArea_features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: min(2.6666666667vw, 20px);
  margin: min(6.4vw, 30px) 0 min(5.8666666667vw, 35px);
}
.infoArea_featuresTitle {
  margin-bottom: 8px;
  font-size: min(2.6666666667vw, 12px);
}
.infoArea_features_icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 12px 2px;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  max-width: 280px;
}
.infoArea_features_icons img {
  display: block;
}
.infoArea_lineup {
  margin-top: min(10.6666666667vw, 40px);
  padding: 0 8%;
}
.infoArea_lineupArea + .infoArea_lineupArea {
  margin-top: min(8vw, 30px);
}
.infoArea_lineupArea-main .infoArea_lineupAreaLabel {
  color: #f3629a;
}
.infoArea_lineupArea-main .infoArea_lineupAreaPriceBtn {
  border: none;
  color: #fff;
  background-color: #f3629a;
}
.infoArea_lineupArea .infoArea_lineupBox + .infoArea_lineupBox {
  margin-top: min(8vw, 30px);
}
.infoArea_lineupAreaTitle {
  margin-bottom: 0.5em;
  padding-bottom: 0.4em;
  border-bottom: 1px solid #ccc;
  font-size: 0.875rem;
  line-height: 1.3;
}
.infoArea_lineupArea_label {
  margin-bottom: 1em;
  font-size: 0.8125rem;
  font-weight: bold;
  line-height: 1;
  letter-spacing: 0.04em;
}
.infoArea_lineupArea_price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.infoArea_lineupArea_price + .infoArea_lineupAreaPrice {
  margin-top: 5px;
}
.infoArea_lineupArea_price-large .infoArea_lineupAreaPriceText::before {
  display: block;
  position: absolute;
  left: 0;
  top: 50%;
  width: 1em;
  height: 1em;
  background-image: url(../img/icon_L.png);
  background-repeat: no-repeat;
  background-size: contain;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  content: "";
}
.infoArea_lineupArea_priceText {
  display: block;
  position: relative;
  padding-left: 1.375em;
  font-size: 1rem;
  font-family: Arial, Helvetica, "Noto Sans JP", sans-serif;
}
.infoArea_lineupArea_priceText .tax {
  font-size: 0.75rem;
  font-family:
    "yakuhanjp", "Noto Sans JP", "Helvetica Neue", Helvetica, Arial,
    "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "Meiryo UI", "メイリオ",
    Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}
.infoArea_lineupArea_priceBtn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-preferred-size: 5.7142857143em;
  flex-basis: 5.7142857143em;
  height: 1.5em;
  border: 1px solid currentColor;
  background-color: #fff;
  color: #333;
  font-size: 0.875rem;
  line-height: 1;
  text-align: center;
  letter-spacing: 0.3em;
}
.infoArea_lineupArea .infoArea_notes {
  margin-top: 1em;
  text-align: right;
}
.infoArea_featureBox {
  margin-top: min(13.3333333333vw, 80px);
  padding: 8.3076923077%;
  border: 1px solid #ccc;
}
@media screen and (min-width: 768px) {
  .infoArea_featureBox {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 4.4444444444%;
    padding: 5%;
  }
}
.infoArea_featureBox_image {
  line-height: 0;
}
@media screen and (min-width: 768px) {
  .infoArea_featureBox_image {
    -ms-flex-preferred-size: 27.7777777778%;
    flex-basis: 27.7777777778%;
    -ms-flex-negative: 0;
    flex-shrink: 0;
  }
}
.infoArea_featureBox_content {
  margin-top: min(6.4vw, 24px);
}
@media screen and (min-width: 768px) {
  .infoArea_featureBox_content {
    margin-top: 0;
  }
}
.infoArea_featureBoxTitle {
  margin-bottom: 1em;
  font-size: min(4.8vw, 24px);
  font-weight: bold;
  line-height: 1.6666666667;
}
.infoArea_featureBoxTitle strong {
  color: #f68460;
}
.infoArea_featureBoxText {
  font-size: min(3.7333333333vw, 16px);
  line-height: 2.1428571429;
}
.infoArea_featureBox_meterBlock {
  margin-top: minest(24);
}
.infoArea_featureBox_meterIndex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: min(3.7333333333vw, 18px);
  font-weight: bold;
  line-height: 1;
}
.infoArea_featureBox_meterIndex .num {
  display: inline-block;
  color: #f68460;
  font-size: min(6.9333333333vw, 30px);
  font-family: "Montserrat", sans-serif;
}
.infoArea_featureBox_meterIndex .num::before {
  display: inline-block;
  margin-right: 0.25em;
  letter-spacing: -0.25em;
  font-size: 0.4em;
  vertical-align: middle;
  content: "▶▶";
}
.infoArea_variation {
  margin-top: min(13.3333333333vw, 80px);
}
.infoArea_variation_image {
  line-height: 0;
}
.infoArea_variation_content {
  margin-top: min(10.6666666667vw, 40px);
}
.infoArea_variationTitle {
  margin-bottom: 1em;
  font-size: min(4.8vw, 24px);
  line-height: 1.75;
}
.infoArea_variationTitle strong {
  color: #f3629a;
}
.infoArea_variationText {
  font-size: min(3.7333333333vw, 16px);
  line-height: 2.1428571429;
}
@media screen and (min-width: 768px) {
  .infoArea_variation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 4%;
  }
  .infoArea_variation_image {
    -ms-flex-preferred-size: 32.5%;
    flex-basis: 32.5%;
    -ms-flex-negative: 0;
    flex-shrink: 0;
  }
  .infoArea_variation_content {
    margin-top: 0;
  }
}

.infoArea01 .infoArea_subImage {
  width: 72.2666666667vw;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 768px) {
  .infoArea {
    width: 96%;
    max-width: 1000px;
  }
  .infoArea + .infoArea {
    margin-top: 7.5em;
  }
  .infoArea:nth-child(even) .infoArea_inner {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
  }
  .infoArea_inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 5%;
  }
  .infoArea_inner._alignTop {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
  .infoArea_inner .infoArea_lineup {
    display: block;
  }
  .infoArea_inner .infoArea_lineup .infoArea_lineupList {
    gap: 1.875em 5%;
  }
  .infoArea_inner .infoArea_lineupArea + .infoArea_lineupArea {
    margin-top: 1.875em;
  }
  .infoArea_inner .infoArea_lineupBox + .infoArea_lineupBox {
    margin-top: 1.875em;
  }
  .infoArea_inner .infoArea_lineupArea + .infoArea_lineupArea {
    margin-left: 0;
    padding-left: 0;
    border-left: none;
  }
  .infoArea_image {
    -ms-flex-preferred-size: 57%;
    flex-basis: 57%;
    max-width: 570px;
  }
  .infoArea_content {
    -ms-flex-preferred-size: 38%;
    flex-basis: 38%;
    max-width: 380px;
    margin-top: 0;
  }
  .infoArea_catch {
    font-size: 24px;
    text-align: left;
  }
  .infoAreaText {
    margin-top: 2.1428571429em;
  }
  .infoArea_notes {
    margin-top: 2em;
  }
  .infoArea_lineup {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 100%;
    margin-top: 50px;
    padding: 0;
  }
  .infoArea_lineup .infoArea_lineupList {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    gap: 1.875em 6%;
  }
  .infoArea_lineupArea {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    min-width: 270px;
  }
  .infoArea_lineupArea-main {
    -ms-flex-preferred-size: 16.875em;
    flex-basis: 16.875em;
    max-width: 270px;
  }
  .infoArea_lineupArea + .infoArea_lineupArea {
    margin-top: 0;
    margin-left: 6%;
    padding-left: 6%;
    border-left: 1px solid #ccc;
  }
  .infoArea_lineupArea .infoArea_lineupBox + .infoArea_lineupBox {
    margin-top: 0;
  }
  .infoArea_lineupAreaTitle {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    margin-bottom: 8px;
    padding-bottom: 8px;
    font-size: 0.875rem;
  }
  .infoArea_lineupArea_label {
    margin-bottom: 16px;
    font-size: 0.8125rem;
  }
  .infoArea_lineupArea_priceBtn {
    -ms-flex-preferred-size: 80px;
    flex-basis: 80px;
    height: 20px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  .infoArea_lineupArea_priceBtn:hover {
    opacity: 0.8;
  }
  .infoArea_lineupBox {
    -ms-flex-preferred-size: 16.875em;
    flex-basis: 16.875em;
    max-width: 270px;
    min-width: 270px;
    -ms-flex-negative: 0;
    flex-shrink: 0;
  }
  .section01 .infoArea01 .infoArea_inner {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
  .section01 .infoArea01 .infoArea_subImage {
    width: 84%;
    margin-left: 0;
  }
}
.item_box + .item_box {
  margin-top: min(8vw, 30px);
}
.item_title {
  margin-bottom: 0.5em;
  padding-bottom: 0.4em;
  border-bottom: 1px solid #ccc;
  font-size: 0.875rem;
  line-height: 1.3;
}
.item_priceList {
  list-style: none;
  padding: 0;
  margin: 0;
}
.item_price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.item_price + .item_price {
  margin-top: 5px;
}
.item_price-large .item_priceText::before {
  display: block;
  position: absolute;
  left: 0;
  top: 50%;
  width: 1em;
  height: 1em;
  background-image: url(../img/icon_L.png);
  background-repeat: no-repeat;
  background-size: contain;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  content: "";
}
.item_priceText {
  display: block;
  position: relative;
  padding-left: 1.375em;
  font-size: 1rem;
  font-family: Arial, Helvetica, "Noto Sans JP", sans-serif;
}
.item_priceText .tax {
  font-size: 0.75rem;
  font-family:
    "yakuhanjp", "Noto Sans JP", "Helvetica Neue", Helvetica, Arial,
    "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "Meiryo UI", "メイリオ",
    Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}
.item_btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-preferred-size: 5.7142857143em;
  flex-basis: 5.7142857143em;
  height: 1.5em;
  border: 1px solid currentColor;
  background-color: #fff;
  color: #333;
  font-size: 0.875rem;
  line-height: 1;
  text-align: center;
  letter-spacing: 0.3em;
}

.infoArea_lineupArea-main .item_btn {
  border: none;
  color: #fff;
  background-color: #f3629a;
}

.itemSection01 .itemInfoArea01 .itemInfoArea_scedule {
  width: 35.7333333333vw;
  max-width: 197px;
}
.itemSection01 .itemInfoArea02 .itemInfoArea_scedule {
  width: 56vw;
  max-width: 310px;
}
.itemSection01 .itemInfoArea03 .itemInfoArea_scedule {
  width: 35.7333333333vw;
  max-width: 197px;
}
.itemSection01 .itemInfoArea04 .itemInfoArea_scedule {
  width: 35.7333333333vw;
  max-width: 197px;
}

.itemSection01 .itemSection_titleAreaTitle {
  width: 86.6666666667vw;
  max-width: 541px;
  margin: auto;
}
.itemSection01 .itemInfoArea_scedule {
  margin-bottom: min(6.4vw, 30px);
}
.itemSection01 .itemInfoArea_pickupitem {
  margin-bottom: min(4vw, 20px);
}
.itemSection01 .itemInfoArea_pickupitemText {
  margin-bottom: min(6.6666666667vw, 30px);
}
.itemSection01 .itemInfoArea_pickupitemText span,
.itemSection01 .itemInfoArea_pickupitemText strong {
  display: inline-block;
  background: #fff;
  border: 2px solid #f3629a;
  color: #f3629a;
  letter-spacing: 0.04em;
}
.itemSection01 .itemInfoArea_pickupitemText span {
  padding: 8px 12px 10px;
  font-family: "yakuhanjp", "Noto Serif JP", serif;
  font-size: min(4.2666666667vw, 20px);
  margin-bottom: 10px;
}
.itemSection01 .itemInfoArea_pickupitemText strong {
  padding: 8px 12px 10px;
  font-size: min(4.8vw, 24px);
  letter-spacing: 0.08em;
}
.itemSection01 .itemInfoArea_topic03Text {
  margin-bottom: min(6.6666666667vw, 30px);
}
.itemSection01 .itemInfoArea_topic03Text span {
  display: inline-block;
  background: #fff;
  border: 2px solid #f3629a;
  color: #f3629a;
  letter-spacing: 0.04em;
  margin-bottom: 15px;
  padding: 8px 12px 10px;
  font-size: min(3.7333333333vw, 16px);
  font-weight: bold;
}
.itemSection01 .itemInfoArea_topic03Text strong {
  position: relative;
  display: inline-block;
  padding-bottom: 0.8em;
  font-family: "yakuhanjp", "Noto Serif JP", serif;
  font-weight: 500;
  font-size: min(8.2666666667vw, 36px);
  line-height: 1.25;
  letter-spacing: 0.02em;
  color: #f3629a;
  background-image: url(../img/img_line.png);
  background-size: 100% auto;
  background-position: bottom;
  background-repeat: no-repeat;
}
@media screen and (min-width: 768px) {
  .itemSection01 .itemInfoArea_topic03Text strong {
    letter-spacing: 0.05em;
  }
}
.itemSection01 .itemInfoArea01 .itemInfoArea_sub .itemInfoArea_image02 {
  margin-top: min(10.6666666667vw, 40px);
}
.itemSection01 .itemInfoArea01 .itemInfoArea_sub .itemInfoArea_content {
  margin-top: min(4vw, 30px);
}
@media screen and (min-width: 768px) {
  .itemSection01 .itemInfoArea01 .itemInfoArea_sub {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: min(-5.3333333333vw, -20px) 0 -20px;
  }
  .itemSection01 .itemInfoArea01 .itemInfoArea_sub .itemInfoArea_image02 {
    margin-top: 0;
    -ms-flex-preferred-size: 40%;
    flex-basis: 40%;
    max-width: 400px;
    -webkit-transform-origin: right;
    transform-origin: right;
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  .itemSection01 .itemInfoArea01 .itemInfoArea_sub .itemInfoArea_content {
    -ms-flex-preferred-size: 60%;
    flex-basis: 60%;
    max-width: 600px;
  }
}
.itemSection01 .itemInfoArea04 .itemInfoArea_subImage {
  width: 53.3333333333vw;
  max-width: 200px;
  margin: min(10.6666666667vw, 40px) auto 0;
}
.itemSection01 .itemInfoArea04 .itemInfoArea_subImage img {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
@media screen and (min-width: 768px) {
  .itemSection01 .itemInfoArea04 .itemInfoArea_subImage {
    margin-top: 20px;
  }
}
.itemSection01 .itemInfoArea08 .itemInfoArea_lineup {
  margin-top: min(9.3333333333vw, 35px);
}
@media screen and (min-width: 768px) {
  .itemSection01 .itemInfoArea08 .itemInfoArea_lineup {
    margin-top: 40px;
  }
}
.itemSection01 .itemInfoArea08 .itemInfoArea_subImage img {
  width: 50.6666666667vw;
  max-width: 230px;
}

.itemSection_springtrendBlock {
  width: 86.6666666667vw;
  max-width: 1000px;
  margin: auto;
}
.itemSection_springtrendBlock:not(.itemSection_springtrendBlock01) {
  margin-top: min(18.6666666667vw, 100px);
}
.itemSection_springtrendBlock_catch {
  width: 32vw;
  max-width: 140px;
  margin: 0 auto min(4vw, 20px);
}
.itemSection_springtrendBlock_title {
  position: relative;
  font-size: min(6.4vw, 36px);
  font-family: "yakuhanjp", "Noto Serif JP", serif;
  font-weight: normal;
  text-align: center;
  line-height: 1.4583333333;
}
.itemSection_springtrendBlock_title em {
  position: relative;
  z-index: 2;
  display: inline-block;
  margin: 0.25em 0.25em 0.25em 0;
  padding: 0.15em 0.25em 0.15em;
  font-weight: bold;
  font-family:
    "yakuhanjp", "Noto Sans JP", "Helvetica Neue", Helvetica, Arial,
    "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "Meiryo UI", "メイリオ",
    Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  font-style: normal;
  color: #fff;
}
.itemSection_springtrendBlock_title em::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 100%;
  height: 1.5em;
  z-index: -1;
  background: #f68460;
  -webkit-transform: skewX(-12deg);
  transform: skewX(-12deg);
}
@media screen and (min-width: 768px) {
  .itemSection_springtrendBlock_title em {
    padding-bottom: 0.25em;
  }
}
.itemSection_springtrendBlock_lead {
  margin: min(3.2vw, 20px) auto min(5.3333333333vw, 40px);
  font-size: min(3.7333333333vw, 16px);
  line-height: 2.25;
  text-align: center;
  letter-spacing: 0.08em;
}
.itemSection_springtrendBlock_lead br {
  display: none;
}
@media screen and (min-width: 768px) {
  .itemSection_springtrendBlock_lead {
    margin-bottom: 0;
  }
  .itemSection_springtrendBlock_lead br {
    display: block;
  }
}

.itemSection02 .itemInfoArea_lineupArea-main .itemInfoArea_lineupArea_label {
  color: #f68460;
}
.itemSection02 .itemInfoArea_lineupArea-main .itemInfoArea_lineupArea_priceBtn {
  background: #f68460;
}
@media screen and (min-width: 768px) {
  .itemSection02 .itemSection_titleArea {
    width: 96%;
  }
}
.itemSection02 .itemSection_titleAreaTitle {
  position: relative;
  z-index: 2;
}
.itemSection02 .itemSection_titleAreaTitle img {
  max-width: 570px;
  margin: auto;
}
@media screen and (min-width: 768px) {
  .itemSection02 .itemSection_titleAreaTitle {
    padding-bottom: min(36vw, 390px);
  }
  .itemSection02 .itemSection_titleAreaTitle::before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 0;
    right: 0;
    top: min(2.6666666667vw, 10px);
    margin: auto;
    width: 100%;
    aspect-ratio: 2000/1011;
    background-image: url(../img/img_theme02_anchor_bg.png);
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: center;
  }
  .itemSection02 .itemSection_titleAreaTitle + .itemSection_titleAreaLead {
    margin-top: 0;
  }
}
.itemSection02 .itemSection_itemInfo01 {
  position: relative;
}
.itemSection02 .itemSection_itemInfo01 .itemSection_itemInfo_head {
  position: relative;
  z-index: 2;
  width: 67.4666666667vw;
  max-width: 743px;
  margin: min(10.6666666667vw, 10px) auto max(-5.3333333333vw, -60px);
}
@media screen and (min-width: 768px) {
  .itemSection02
    .itemSection_itemInfo01
    .itemInfoArea:nth-child(even)
    .itemInfoArea_inner {
    -ms-flex-direction: row;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
  }
  .itemSection02
    .itemSection_itemInfo01
    .itemInfoArea:nth-child(odd)
    .itemInfoArea_inner {
    -ms-flex-direction: row-reverse;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    flex-direction: row-reverse;
  }
}
.itemSection02 .itemSection_springtrendBlock02 {
  position: relative;
  margin-bottom: min(9.3333333333vw, 40px);
  padding-bottom: min(28vw, 200px);
}
.itemSection02 .itemSection_springtrendBlock02::before {
  pointer-events: none;
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  width: 92%;
  max-width: 874px;
  aspect-ratio: 614/205;
  margin: auto;
  background-image: url(../img/img_trend_features_sp.png);
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: center;
}
@media screen and (min-width: 768px) {
  .itemSection02 .itemSection_springtrendBlock02 {
    padding-bottom: 50px;
  }
  .itemSection02 .itemSection_springtrendBlock02::before {
    width: 100%;
    aspect-ratio: 1748/725;
    background-image: url(../img/img_trend_features_pc.png);
  }
}
.itemSection02 .itemSection_springtrendBlock02 br {
  display: block;
}
@media screen and (min-width: 768px) {
  .itemSection02
    .itemSection_springtrendBlock02
    .itemSection_springtrendBlock_title
    .only-sp {
    display: none;
  }
}
.itemSection02
  .itemSection_springtrendBlock02
  .itemSection_springtrendBlock_lead {
  line-height: 2.25;
}
@media screen and (min-width: 768px) {
  .itemSection02
    .itemSection_springtrendBlock02
    .itemSection_springtrendBlock_lead {
    padding: 0 min(13.3333333333vw, 186px);
  }
}
.itemSection02 .itemSection_whats {
  width: 86.6666666667vw;
  max-width: 1000px;
  margin: auto;
  padding: min(8vw, 32px) min(7.4666666667vw, 40px) min(7.4666666667vw, 34px);
  border: 2px solid #f68460;
  background: #fff;
  border-radius: 10px;
}
.itemSection02 .itemSection_whats_image {
  margin: 0 auto min(5.3333333333vw, 20px);
  padding-bottom: min(6.6666666667vw, 25px);
  border-bottom: 1px solid #ccc;
}
.itemSection02 .itemSection_whats_image img {
  display: block;
  width: 43.7333333333vw;
  max-width: 207px;
  margin: auto;
}
.itemSection02 .itemSection_whats_title {
  font-size: min(5.3333333333vw, 20px);
  font-weight: 500;
  font-family: "yakuhanjp", "Noto Serif JP", serif;
  line-height: 2;
  margin-bottom: min(3.2vw, 15px);
}
.itemSection02 .itemSection_whats_text {
  font-size: min(3.7333333333vw, 14px);
  line-height: 2;
}
@media screen and (min-width: 768px) {
  .itemSection02 .itemSection_whats {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 96%;
    gap: 4%;
    padding-top: min(7.4666666667vw, 30px);
  }
  .itemSection02 .itemSection_whats_image {
    width: 22.5%;
    margin-bottom: 0;
    padding-bottom: 0;
    border-bottom: none;
  }
  .itemSection02 .itemSection_whats_image img {
    width: 100%;
  }
  .itemSection02 .itemSection_whats_content {
    width: 73%;
    padding-left: 4.5%;
    border-left: 1px solid #ccc;
  }
}
.itemSection02 .itemInfoArea04 {
  margin-top: min(16vw, 60px);
}
.itemSection02 .itemSection_topsTitle {
  width: 86.6666666667vw;
  max-width: 1000px;
  text-align: center;
  margin: min(22.6666666667vw, 100px) auto min(10.6666666667vw, 60px);
}
.itemSection02 .itemSection_topsTitle.itemSection_topsTitle01 {
  margin-top: min(12vw, 30px);
}
.itemSection02 .itemSection_topsTitle > span::after,
.itemSection02 .itemSection_topsTitle .marker_sp:first-child::after {
  content: "";
  background-image: url(../img/img_accent.svg);
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: center;
}
.itemSection02 .itemSection_topsTitle span {
  position: relative;
  font-size: min(6.4vw, 36px);
  font-weight: bold;
  line-height: 2;
}
.itemSection02 .itemSection_topsTitle span em {
  color: #f68460;
  font-style: normal;
}
@media screen and (max-width: 767px) {
  .itemSection02 .itemSection_topsTitle span:not(.marker_pc) {
    display: inline-block;
    background-image: -webkit-gradient(
      linear,
      left top,
      right top,
      color-stop(0.3em, #f68460),
      color-stop(0.3em, transparent)
    );
    background-image: linear-gradient(
      to right,
      #f68460 0.3em,
      transparent 0.3em
    );
    background-size: 0.6em 2px;
    background-repeat: repeat-x;
    background-position: left bottom;
    padding: 0 0.25em 0.05em 0;
  }
  .itemSection02 .itemSection_topsTitle .marker_sp:first-child::after {
    position: absolute;
    right: -3.2vw;
    top: 0vw;
    width: 4.2666666667vw;
    height: 4.2666666667vw;
  }
}
@media screen and (min-width: 768px) {
  .itemSection02 .itemSection_topsTitle span:not(.marker_sp) {
    display: inline-block;
    background-image: -webkit-gradient(
      linear,
      left top,
      right top,
      color-stop(0.35em, #f68460),
      color-stop(0.35em, transparent)
    );
    background-image: linear-gradient(
      to right,
      #f68460 0.35em,
      transparent 0.35em
    );
    background-size: 0.7em 3px;
    background-repeat: repeat-x;
    background-position: left bottom;
    padding: 0 0.25em 0.05em 0;
  }
  .itemSection02 .itemSection_topsTitle > span::after {
    position: absolute;
    right: -20px;
    top: 0;
    width: 30px;
    height: 30px;
  }
}
.itemSection02 .itemInfoArea08 .itemInfoArea_subImage img,
.itemSection02 .itemInfoArea10 .itemInfoArea_subImage img {
  width: 72.2666666667vw;
  max-width: 380px;
}
@media screen and (min-width: 768px) {
  .itemSection02 .itemInfoArea08 .itemInfoArea_subImage,
  .itemSection02 .itemInfoArea10 .itemInfoArea_subImage {
    text-align: left;
  }
}
.itemSection02 .itemInfoArea11 .itemInfoArea_subImage img,
.itemSection02 .itemInfoArea12 .itemInfoArea_subImage img {
  width: 72.2666666667vw;
  max-width: 380px;
}
.itemSection02 .itemInfoArea18 .itemInfoArea_image img {
  width: 85.3333333333vw;
  max-width: 473px;
}
@media screen and (min-width: 768px) {
  .itemSection02 .itemInfoArea18 .itemInfoArea_image {
    text-align: center;
    padding-right: min(2.6666666667vw, 10px);
  }
}

.itemSection03 {
  padding-bottom: min(16vw, 100px);
}
.itemSection03 .itemSection_springtrendBlock {
  margin-top: 0;
}
.itemSection03 .itemSection_springtrendBlock_title {
  margin-top: 0;
}
.itemSection03 .itemSection_springtrendBlock_title em {
  font-family: Arial, Helvetica, "Noto Sans JP", sans-serif;
  margin-right: 0.25em;
  padding-bottom: 0.25em;
}
.itemSection03 .itemInfoArea_shoesList {
  width: 86.6666666667vw;
  margin: min(10.6666666667vw, 60px) auto 0;
}
@media screen and (min-width: 768px) {
  .itemSection03 .itemInfoArea_shoesList {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 96%;
    max-width: 1000px;
    gap: 0 4%;
  }
}
.itemSection03 .itemInfoArea_shoesList .itemInfoArea_shoes {
  margin-bottom: min(10.6666666667vw, 60px);
}
.itemSection03
  .itemInfoArea_shoesList
  .itemInfoArea_shoes
  .itemInfoArea_lineup {
  margin-top: min(6.4vw, 40px);
}
.itemSection03
  .itemInfoArea_shoesList
  .itemInfoArea_shoes
  .itemInfoArea_lineupArea-main
  .itemInfoArea_lineupArea_priceBtn {
  background: #f68460;
}
@media screen and (min-width: 768px) {
  .itemSection03 .itemInfoArea_shoesList .itemInfoArea_shoes {
    width: 48%;
  }
  .itemSection03
    .itemInfoArea_shoesList
    .itemInfoArea_shoes
    .itemInfoArea_lineup {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
  }
}

.pagetop_btn {
  position: absolute;
  right: 2%;
  bottom: 2%;
  width: min(9.0666666667vw, 34px);
  margin-left: auto;
  pointer-events: auto;
}
@media screen and (min-width: 768px) {
  .pagetop_btn {
    position: absolute;
    right: 4%;
    bottom: 4%;
    z-index: 5000;
  }
}
@media screen and (min-width: 1920px) {
  .pagetop_btn {
    right: calc(50% - 920px);
  }
}

.fixedNav_btn {
  position: fixed;
  left: 2%;
  bottom: 2%;
  width: min(18.6666666667vw, 70px);
  aspect-ratio: 1/1;
  pointer-events: auto;
}

.fixed_nav {
  position: fixed;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 5000;
  pointer-events: none;
}
.fixed_nav_listWrap {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  z-index: 9999;
  top: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
}
.fixed_nav_listWrap.show {
  opacity: 1;
  visibility: visible;
}
.fixed_nav_listWrap.show .fixedNav_list {
  -webkit-transform: translateY(0);
  transform: translateY(0);
}
.fixed_nav_listWrap.hideLoad {
  opacity: 0;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
}
.fixed_nav_listBg {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(51, 51, 51, 0.7);
}
.fixed_nav_listBox {
  position: absolute;
  inset: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: min(8vw, 30px);
}
.fixed_nav_list {
  pointer-events: auto;
  width: 72vw;
  max-width: 21em;
  margin: 0 auto;
  padding: min(6.6666666667vw, 30px) min(8vw, 30px) min(4vw, 22px);
  border-radius: min(5.3333333333vw, 20px);
  background: rgba(255, 255, 255, 0.9);
  -webkit-transform: translateY(8px);
  transform: translateY(8px);
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition:
    transform 0.5s,
    -webkit-transform 0.5s;
}
.fixed_nav .fixed_navTtile {
  position: relative;
  margin-bottom: min(6.4vw, 24px);
}
.fixed_nav .fixed_navTtile img {
  width: 11.2vw;
  max-width: 51px;
}
.fixed_nav .fixed_navTtile02 {
  margin-top: 40px;
}
.fixed_nav .fixed_navBtn {
  position: relative;
  display: block;
  font-size: min(3.7333333333vw, 16px);
  margin-bottom: min(5.3333333333vw, 25px);
  padding-left: 1.25em;
}
.fixed_nav .fixed_navBtn::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0.15em;
  bottom: 0;
  margin: auto;
  width: 0.65em;
  height: 0.65em;
  border-radius: 99em;
  background: #000;
}
.fixed_nav .fixed_navBtn-theme1::before {
  background: #f3629a;
}
.fixed_nav .fixed_navBtn-theme2::before {
  background: #f68460;
}
.fixed_nav .fixedNav_close {
  pointer-events: auto;
  position: relative;
  padding: min(0.5333333333vw, 2px) 0 min(0.8vw, 3px) min(5.8666666667vw, 22px);
  color: #fff;
  font-size: min(3.7333333333vw, 14px);
  font-weight: bold;
  letter-spacing: 0.04em;
  background-image: url(../img/fixedNav_close.svg);
  background-size: min(3.7333333333vw, 14px) auto;
  background-repeat: no-repeat;
  background-position: left center;
}

@media screen and (min-width: 768px) {
  .fixedNav_list {
    width: 300px;
  }
  .fixedNav_btn {
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  .fixedNav_btn:hover {
    opacity: 0.7;
  }
  .fixedNav_close {
    cursor: pointer;
  }
  .fixedNav_close:hover {
    opacity: 0.7;
  }
}
@media screen and (min-width: 1200px) {
  .fixed_nav:not(.scroll) .fixedNav_btn,
  .fixed_nav:not(.scroll) .fixedNav_close {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  .fixed_nav:not(.scroll) .fixed_nav {
    position: fixed;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
  }
  .fixed_nav:not(.scroll) .fixed_nav_listWrap {
    opacity: 1;
    visibility: visible;
  }
  .fixed_nav:not(.scroll) .fixed_nav_listBg {
    display: none;
  }
  .fixed_nav:not(.scroll) .fixed_nav_list {
    display: block;
    position: absolute;
    max-width: 18.5em;
    left: 0;
    top: 20%;
    background-color: transparent;
    pointer-events: auto;
    padding-bottom: min(4vw, 18px);
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  .fixed_nav:not(.scroll) .fixed_nav_list::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: rgba(255, 255, 255, 0.7);
    border-radius: 0 20px 20px 0;
  }
  .fixed_nav:not(.scroll) .fixed_nav_list li {
    margin-bottom: 1.25em;
  }
  .fixed_nav:not(.scroll) .fixed_nav .fixed_navBtn {
    padding-left: 1.25em;
    white-space: nowrap;
  }
  .fixed_nav:not(.scroll) .fixed_nav .fixed_navBtn::before {
    top: 0.35em;
    background-color: #e8edf0;
    content: "";
  }
  .fixed_nav:not(.scroll) .fixed_nav .fixed_navBtn_text {
    display: inline-block;
    position: relative;
  }
  .fixed_nav:not(.scroll) .fixed_nav .fixed_navBtn_text::after {
    display: block;
    position: absolute;
    left: 0;
    bottom: -9px;
    width: 100%;
    height: 4px;
    background-color: #f3629a;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: left top;
    transform-origin: left top;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    content: "";
  }
  .fixed_nav:not(.scroll)
    .fixed_nav
    .fixed_navBtn-theme2
    .fixed_navBtn_text::after {
    background-color: #f68460;
  }
}
@media screen and (min-width: 1200px) and (hover) {
  .fixed_nav:not(.scroll) .fixed_nav .fixed_navBtn:hover::before {
    background-color: #f3629a;
  }
  .fixed_nav:not(.scroll)
    .fixed_nav
    .fixed_navBtn:hover
    .fixed_navBtn_text::after {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
  .fixed_nav:not(.scroll) .fixed_nav .fixed_navBtn-theme2:hover::before {
    background-color: #f68460;
  }
}
@media screen and (min-width: 1200px) {
  .fixed_nav:not(.scroll) .fixedNav_close {
    display: none;
  }
}
