@use "../_foundation/setting" as *;

//##################### Footer #####################
// フッター、クレジット情報、CTA（ボタン・バナー）

#{$project-id} {
	// フッター
	.footer {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 40px;
		width: 100%;

		// リンク・バナーエリア
		.footer_links {
			display: flex;
			flex-direction: column;
			align-items: center;
			gap: minset(32);
			max-width: 550px;
			width: per(325);
			margin: auto;
			.footer_linkBtn {
				display: flex;
				justify-content: center;
				align-items: center;
				gap: minset(12);
				width: 100%;
				padding: minset(20) minset(24);
				background-color: #ffd5e0;
				text-decoration: none;
				transition: opacity 0.3s ease;
				@media (hover: hover) {
					&:hover {
						opacity: 0.7;
					}
				}
				.footer_linkBtnIcon {
					width: minset(33);
					aspect-ratio: 33 / 16;
					transform: translateY(1px);
				}
				.footer_linkBtnText {
					font-size: minset(14);
					font-weight: 500;
				}
			}

			.footer_bannerArea {
				display: flex;
				justify-content: center;
				align-items: center;
				width: 100%;
				aspect-ratio: 325 / 160;
				background-color: #d9d9d9;
				font-size: minset(16);
			}
		}

		// スタッフ情報
		.footer_staff {
			display: flex;
			flex-direction: column;
			gap: 8px;
			max-width: 550px;
			width: per(325);
			font-family: $serif;
			font-size: 12px;
			line-height: 2;
			text-align: center;
			.footer_staffTitle {
				font-size: 12px;
				line-height: 1;
			}
			.footer_staffNote {
				font-size: 10px;
			}
		}

		// SNSアイコン
		.footer_social {
			display: flex;
			gap: 32px;
			align-items: center;
			.footer_socialIcon {
				display: block;
				width: 40px;
				aspect-ratio: 1 / 1;
				background: #fff;
				overflow: hidden;
				transition: opacity 0.3s ease;
				@media (hover: hover) {
					&:hover {
						opacity: 0.7;
					}
				}
			}
		}

		// コピーライト
		.footer_copyright {
			display: flex;
			flex-direction: column;
			align-items: center;
			gap: 40px;
			width: 100%;
			padding: 48px 20px 20px;
			background-color: #222;
			.footer_copyrightLogo {
				width: 104px;
			}
			.footer_copyrightText {
				font-size: 10px;
				line-height: 1;
				color: #fff;
				text-align: center;
				max-width: minset(325);
			}
		}
	}
}
