@use "../_foundation/setting" as *;

//##################### Parts (共通UIコンポーネント) #####################
// 固定ナビ、ボタン、タグ、バッジ、波線装飾など再利用可能なパーツ

#{$project-id} {
  // 固定ナビゲーション
  .fixed-nav {
    position: fixed;
  }

  // ボタン
  .btn {
    display: inline-block;
  }
}
