@use "../_foundation/setting" as *;

//##################### Product Sections #####################
// 商品セット（画像、タグ、カラーバリエーション、機能美ポイント等）

.product-section {
  // 商品セクション共通スタイル

  .product-section_container {
    // コンテナ
  }

  .product-section_title {
    // セクションタイトル
  }

  .product-section_subtitle {
    // サブタイトル
  }

  .product-section_credit {
    // クレジット情報
  }
}
