@charset "UTF-8";
/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input, select {
  vertical-align: middle;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
*::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

ul,
ol {
  list-style: none;
}

img,
video {
  max-width: 100%;
  height: auto;
}

sup {
  vertical-align: super;
  font-size: 0.75em;
}

input,
select,
textarea,
button {
  -moz-appearance: none;
  -webkit-appearance: none;
  background: none;
  border: none;
  border-radius: 0;
  padding: 0;
  outline: none;
  color: inherit;
  font-family: inherit;
}

input::-ms-expand,
select::-ms-expand,
textarea::-ms-expand,
button::-ms-expand {
  display: none;
}

button {
  display: block;
  cursor: pointer;
}

input,
textarea,
select {
  width: 100%;
  border: 1px solid #ccc;
  background: none;
}

html {
  font-size: p2v(16);
}
@media screen and (min-width: 768px) {
  html {
    font-size: min(1.3333333333vw, 16px);
  }
}
@media screen and (min-width: 1200px) {
  html {
    font-size: 16px;
  }
}

body {
  color: #333;
  font-family: "yakuhanjp", "Noto Sans JP", "Helvetica Neue", Helvetica, Arial, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "Meiryo UI", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  font-display: swap;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.only-pc {
  display: none;
}

@media screen and (min-width: 768px) {
  .only-sp {
    display: none;
  }
  .only-pc {
    display: block;
  }
}
.dib {
  display: inline-block;
}

.fixed-nav {
  position: fixed;
}

.btn {
  display: inline-block;
}

.kv {
  position: relative;
}
.item {
  position: relative;
}
.item_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 8px;
  width: 100%;
}

.item_row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.item_name {
  font-family: "Cormorant Infant", serif;
  font-weight: 600;
  font-size: 12px;
  color: #222;
  letter-spacing: 0.6px;
  white-space: nowrap;
  line-height: 1;
}

.item_priceGroup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.item_priceText {
  font-family: "Cormorant Infant", serif;
  font-weight: 600;
  color: #222;
  letter-spacing: 0.6px;
  white-space: nowrap;
  line-height: 1;
  text-align: right;
}

.item_priceYen {
  font-size: 10px;
}

.item_priceAmount {
  font-size: 12px;
}

.item_priceTax {
  font-size: 10px;
}

.item_btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 4px 6px;
  text-decoration: none;
  -webkit-transition: opacity 0.2s ease;
  transition: opacity 0.2s ease;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.item_btn:hover {
  opacity: 0.8;
}

.item_btn-main {
  background-color: #f37c9d;
}
.item_btn-main .item_btnText {
  font-family: "Cormorant Infant", serif;
  font-weight: 600;
  font-size: 10px;
  color: #fff;
  letter-spacing: 0.5px;
  line-height: 1;
}

.item_btn-sub {
  background-color: #fff;
  border: 1px solid #222;
}
.item_btn-sub .item_btnText {
  font-family: "Cormorant Infant", serif;
  font-weight: 600;
  font-size: 10px;
  color: #222;
  letter-spacing: 0.5px;
  line-height: 1;
}

.item_sizeLabel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 1;
}

.item_sizeIcon {
  display: inline-grid;
  grid-template-columns: -webkit-max-content;
  grid-template-columns: max-content;
  grid-template-rows: -webkit-max-content;
  grid-template-rows: max-content;
  place-items: start;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 12px;
  height: 12px;
  position: relative;
}
.item_sizeIcon img {
  position: absolute;
  left: 7px;
  width: 4px;
  height: 8px;
}

.item_sizeName {
  font-family: "Cormorant Infant", serif;
  font-weight: 600;
  font-size: 12px;
  color: #222;
  letter-spacing: 0.6px;
  white-space: nowrap;
  line-height: 1;
}